/Proyecto 1/Clasificador/Clasificador/nbproject/private/
/Proyecto 1/Proceso/Proceso/nbproject/private/
/Proyecto 1/Proceso/Proceso/build/
/Proyecto 1/Clasificador/Clasificador/build/
/lib-comun/nbproject/private/
/lib-comun/build/
/Proyecto 1/Proceso/Proceso/dist/
/Proyecto 1/Clasificador/Clasificador/dist/
/lib-comun/dist/


/Proyecto 2/ServidorLOGS/nbproject/private/
/Proyecto 2/ClienteLOGS/nbproject/private/
/Proyecto 2/MetodoCongruencias/nbproject/private/
/Proyecto 2/MetodoCongruencias/build/
/Proyecto 2/ServidorLOGS/build/
/Proyecto 2/ClienteLOGS/build/
/Proyecto 2/ClienteLOGS/dist/
/Proyecto 2/ServidorLOGS/dist/
/Proyecto 4/Urano/nbproject/private/
/Proyecto 4/Urano-M/nbproject/private/
/Proyecto 4/Urano-B/nbproject/private/